.myBG {
  height: 100vh;
  background: url("../assets/image/main.jpg");
  background-size: cover;
}
.intro {
  height: 350px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.title {
  font-size: 3rem;
  font-weight: 800;
  line-weight: 1;
  text-shadow: 2px 2px #000;
  letter-spacing: 4px;
}

.trending {
  height: auto;
  background: url("../assets/image/main2.jpg");
  background-size: cover;
}
.movieImage {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}
.movieWrapper {
}
.images {
  height: 500px;
}
.superhero {
  height: auto;
  background: url("../assets/image/main3.jpg");
  background-size: cover;
}
